<!-- <p>assignment-dialog works!</p>
<h2 mat-dialog-title>{{ data.isEdit ? 'Изменить' : 'Добавить' }} график контроля</h2>
<mat-tab-group>
  <mat-tab label="Общее">
    <mat-dialog-content>
      <form [formGroup]="form" class="form-container">
        <mat-form-field appearance="fill">
          <mat-label>Вид контроля</mat-label>
          <mat-select formControlName="controlType">
            <mat-option *ngFor="let type of controlTypes" [value]="type.value">
              {{type.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Тип пробы</mat-label>
          <mat-select formControlName="sampleType">
            <mat-option *ngFor="let sample of sampleTypes" [value]="sample.value">
              {{sample.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Цех</mat-label>
          <mat-select formControlName="orgUnit">
            <mat-option *ngFor="let unit of orgUnits" [value]="unit.name">
              {{unit.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Группа объектов контроля</mat-label>
          <mat-select formControlName="productGroup">
            <mat-option *ngFor="let group of productGroups" [value]="group.name">
              {{group.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        

        <mat-checkbox formControlName="isActive">Активность</mat-checkbox>

   
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button (click)="onCancel()">Отмена</button>
      <button mat-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">
        {{ data.isEdit ? 'Сохранить' : 'Добавить' }}
      </button>
    </mat-dialog-actions>
  </mat-tab>
  <mat-tab label="Частота">
    <app-frequency-tab></app-frequency-tab>
  </mat-tab>
</mat-tab-group> -->
