.container {
  max-width: 1000px;
  margin: auto;
}

.form-section {
  margin-bottom: 20px;
}

.form-actions {
  display: flex;
  gap: 10px;
}

p-table {
  width: 100%;
  margin-bottom: 20px;
}
.table-with-btn
{
  display: flex;
}
.btn{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  width: 15%;
}

p-calendar,
p-inputTextarea,
p-dropdown {
  width: 100%;
}
