<div class="container">
  <div class="container">
    <div class="table-with-btn">
    <!-- Table Section -->
      <p-table [value]="controlData" (onRowSelect)="onRowSelect($event)" selectionMode="single" [(selection)]="selectedRow">
        <ng-template pTemplate="header">
          <tr>
            <th>Description</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData">
            <td>{{ rowData.description }}</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="btn">
        <button pButton label="Добавить" class="p-button-primary" (click)="addControl()"></button>
        <button pButton label="Копировать" class="p-button-secondary" (click)="copyControl()"></button>
        <button pButton label="Удалить" class="p-button-danger" (click)="deleteControl()"></button>
      </div>
    </div>
    <!-- Description and DateTime Picker -->
    <div class="form-section">
      <p-inputTextarea [(ngModel)]="description" placeholder="Описание"></p-inputTextarea>

      <!-- Repetition Section -->
      <p-dropdown [options]="repeatOptions" [(ngModel)]="repeatType" placeholder="Повторение"></p-dropdown>

      <!-- DateTime Picker -->
      <p-calendar [(ngModel)]="selectedDate"  [showTime]="true" [disabled]="repeatType === 'Без повторений'"></p-calendar>

      <!-- End Date -->
      <p-calendar *ngIf="repeatType === 'Закончить после...'" [(ngModel)]="endDate" [showTime]="true"></p-calendar>
    </div>

    <!-- Action Buttons -->
    <div class="form-actions">

      <button pButton label="OK" class="p-button-success" (click)="submitForm()"></button>
    </div>
  </div>




<!--&lt;!&ndash; Таблица и кнопки управления &ndash;&gt;-->
<!--<div class="container">-->
<!--  <div class="table-section">-->
<!--    <p-table [value]="controlData" (onRowSelect)="onRowSelect($event)">-->
<!--      <ng-template pTemplate="header">-->
<!--        <tr>-->
<!--          <th>Start Time</th>-->
<!--          <th>Description</th>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--      <ng-template pTemplate="body" let-rowData>-->
<!--        <tr>-->
<!--          <td>{{ rowData.startTime }}</td>-->
<!--          <td>{{ rowData.description }}</td>-->
<!--        </tr>-->
<!--      </ng-template>-->
<!--    </p-table>-->


<!--    &lt;!&ndash; Кнопки управления таблицей &ndash;&gt;-->
<!--    <div class="table-buttons">-->
<!--      <button pButton label="Добавить" (click)="addControl()"></button>-->
<!--      <button pButton label="Копировать" (click)="copyControl()"></button>-->
<!--      <button pButton label="Удалить" (click)="deleteControl()"></button>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Форма настройки параметров &ndash;&gt;-->
<!--  <form [formGroup]="frequencyTabForm" class="form-section">-->
<!--    &lt;!&ndash; Описание &ndash;&gt;-->
<!--    <mat-form-field appearance="fill" class="full-width">-->
<!--      <mat-label>Описание</mat-label>-->
<!--      <mat-select formControlName="description">-->
<!--        <mat-option *ngFor="let desc of descriptions" [value]="desc">{{ desc }}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->

<!--    &lt;!&ndash; Наименование &ndash;&gt;-->
<!--    <mat-form-field appearance="fill" class="full-width">-->
<!--      <mat-label>Наименование</mat-label>-->
<!--      <input matInput formControlName="name" placeholder="Введите наименование">-->
<!--    </mat-form-field>-->

<!--    -->
<!--    <div class="card flex justify-content-center">-->
<!--      <p-floatLabel>-->
<!--        <p-calendar-->
<!--          inputId="startDate"-->
<!--          [(ngModel)]="datetime24h"-->
<!--          [showTime]="true"-->
<!--          [showButtonBar]="true"-->
<!--          [showIcon]="true"-->
<!--          hourFormat="24"-->
<!--        />-->
<!--        <label for="startDate">Дата начала</label>-->
<!--      </p-floatLabel>-->
<!--    </div>-->


<!--    &lt;!&ndash; Период повторений &ndash;&gt;-->
<!--    <mat-form-field appearance="fill" class="full-width">-->
<!--      <mat-label>Период повторений</mat-label>-->
<!--      <mat-select formControlName="repeatPeriod">-->
<!--        <mat-option value="none">Без повторений</mat-option>-->
<!--        <mat-option value="unlimited">Без окончания</mat-option>-->
<!--        <mat-option value="limited">Закончить после N повторений</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <p-dropdown [(ngModel)]="repeatType" [options]="repeatOptions"></p-dropdown>-->

<!--    <p-calendar *ngIf="repeatType === 'Закончить после...'" [(ngModel)]="endDate"></p-calendar>-->
<!--    &lt;!&ndash; Шаблон повторений &ndash;&gt;-->
<!--    <div formGroupName="repeatTemplate" class="repeat-template">-->
<!--      <mat-radio-group formControlName="templateType">-->
<!--        <mat-radio-button value="hourly">Ежечасно</mat-radio-button>-->
<!--        <mat-radio-button value="daily">Ежедневно</mat-radio-button>-->
<!--      </mat-radio-group>-->

<!--      &lt;!&ndash; Интервал для ежечасного шаблона &ndash;&gt;-->
<!--      <mat-form-field *ngIf="frequencyTabForm.get('repeatTemplate')!.get('templateType')!.value === 'hourly'"-->
<!--                      appearance="fill" class="full-width">-->
<!--        <mat-label>Каждый</mat-label>-->
<!--        <input matInput type="number" formControlName="hourlyInterval" placeholder="Введите интервал в часах">-->
<!--      </mat-form-field>-->
<!--      <button pButton label="OK" (click)="submitForm()"></button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
