.mat-dialog-container {
    width: 1200px; /* Фиксированная ширина */
    height: 800px; /* Фиксированная высота */
    max-width: 100%; /* Ограничение на максимальную ширину */
    max-height: 100%; /* Ограничение на максимальную высоту */
    //overflow: auto; /* Позволяет прокручивать контент, если он превышает размер окна */
  }

