<h2>Create New Task</h2>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="productGroup">Product Group:</label>
    <select id="productGroup" formControlName="productGroupId">
      <option *ngFor="let group of productGroups" [value]="group.productGroupId">
        {{group.name}}
      </option>
    </select>
  </div>
  <div>
    <label for="controlPoint">Control Point:</label>
    <select id="controlPoint" formControlName="controlPointId">
      <option *ngFor="let point of controlPoints" [value]="point.controlPointId">
        {{point.name}}
      </option>
    </select>
  </div>
  <div>
    <label for="frequency">Frequency:</label>
    <input id="frequency" type="text" formControlName="frequency">
  </div>
  <div>
    <label for="timeToExecute">Time to Execute:</label>
    <input id="timeToExecute" type="datetime-local" formControlName="timeToExecute">
  </div>
  <button type="submit" [disabled]="!taskForm.valid">Create Task</button>
</form>