.mat-dialog-content
{
    width: 80%;
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.mat-form-field
{
    width: 80%;
    margin-bottom: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    //gap: 4px; /* Добавляет отступы между элементами */
  }
  