.mat-dialog-content
{
    width: 80%;
    margin-bottom: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.mat-form-field
{
    width: 80%;
    margin-bottom: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px; /* Добавляет отступы между элементами */
  }
  